<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>


<div class="py-10 bg-gradient-to-r from-teal-400 to-blue-500">
  <div class="container mx-auto">
    <div class="py-4 mb-2 text-center lg:py-10 lg:text-left">
      <h2 class="text-lg font-extrabold font-title sm:text-2xl lg:text-3xl">코드포코리아 Code for Korea</h2>
      <h1 class="mb-2 text-4xl font-extrabold font-title sm:text-5xl lg:text-7xl">탄소중립 대시보드</h1>
    </div>
    <div class="p-20 bg-white w-100">
      <canvas id="goalSummaryChart" height="350" width="800"></canvas>
    </div>
  </div>
</div>

<section class="sticky top-0 z-40 bg-base-200">
  <div class="container mx-auto">
    <div class="justify-between overflow-x-auto justify-items-stretch tabs tabs-boxed">
      <a href="#root_goals" class="tab tab-lg">부문 목표</a>
      <a href="#specific_goals" class="tab tab-lg">세부 목표</a>
      <a href="#data_sources" class="tab tab-lg">관련 자료</a>
    </div>
  </div>
</section>

<section id='root_goals' class="py-8 my-8">
  <div class="container mx-auto">
    <h2 class="my-4 text-3xl font-bold">부문별 목표와 현황</h2>
    <div class="grid grid-cols-3 gap-4">
      <%= render @root_goals %>
    </div>
  </div>
</section>

<section id='specific_goals' class="py-8 my-8">
  <div class="container mx-auto">
    <h2 class="my-4 text-3xl font-bold">세부 부문 목표와 현황</h2>
    <% @root_goals.each do |root_goal| %>
      <h3 class="my-4 text-2xl font-bold"><%= root_goal.title %></h3>
      <div class="grid grid-cols-3 gap-4">
        <%= render root_goal.children %>
      </div>
    <% end %>
  </div>
</section>

<section id='data_sources' class="py-8 my-8">
  <div class="container mx-auto">
    <h2 class="my-4 text-3xl font-bold">관련 자료</h2>
    <h3 class="my-4 text-2xl font-bold">데이터(최신순)</h2>
    <table class="table w-full table-auto">
      <tbody>
        <% @data_sources.each do |ds| %>
          <tr>
            <td class="border">
              <%= link_to ds.title, ds %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="container mx-auto mt-8">
    <h3 class="my-4 text-2xl font-bold">기사(최신순)</h2>
    <ul>
      <% @stories.each do |story| %>
        <li><%= link_to story.title, story %></li>
      <% end %>
    </ul>
  </div>

  <div class="container mx-auto mt-8">
    <h3 class="my-4 text-2xl font-bold">정책(최신순)</h2>
    <ul>
      <% @policies.each do |policy| %>
        <li><%= link_to policy.title, policy %></li>
      <% end %>
    </ul>
  </div>
</section>

<script>
    /* charjs data */
    const labels = ["산업", "전환", "수송", "건물", "농축수산", "폐기물", "기타(탈루 등)", "수소"];

    const data = {
        labels: labels,
        datasets: [
            {
                label: '2018년(총배출량)',
                data: [269.6, 260.5, 52.1, 98.1, 24.7, 17.1, 0.0, 5.6],
                backgroundColor: "rgb(29, 105, 150)",
            },
            {
                label: '2030년(상향,순배출량)',
                data: [149.9, 222.6, 35.0, 61.0, 18.0, 9.1, 7.6, 3.9],
                backgroundColor: "rgb(237, 173, 8)",
            }
        ]
    };

    /* chartjs config */
    const config = {
        type: 'bar',
        data: data,
        options: {
            indexAxis: 'y',
            layout: {
            },
            elements: {
                bar : {
                    borderRadius: 5
                }
            },
            // Elements options apply to all of the options unless overridden in a dataset
            // In this case, we are setting the border of each horizontal bar to be 2px wide
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                datalabels: {
                    color: 'white',
                    align: 'center',
                    labels: {
                        title: {
                            font: {
                                weight: 'bold'
                            }
                        },
                        value: {
                            color: 'green'
                        }
                    }
                }
            }
        },
    };

    /* charjs render */
    Chart.register(ChartDataLabels);

    const ctx = document.getElementById('goalSummaryChart');

    new Chart(ctx, config);
</script>