<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Climate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>

    <footer class="p-10 footer bg-base-200 text-base-content ">
      <div class="container mx-auto">
        <p class="font-bold underline">
          <a href="https://codefor.kr" target="_blank">코드포코리아 Code for Korea</a>
        </p>

        <div>
          <span class="footer-title">기여한 분들</span>
          <p>권오현, 클루, 류현주, 이서윤, 김유준, 정지원, 이승윤</p>
        </div>

        <div>
          <span class="footer-title">프로젝트에 참여하는 방법</span>
          <p>설명 추가 예정</p>
        </div>
      </div>
    </footer>
  </body>
</html>
